@import "tailwindcss";

@theme {
    --animate-fadeIn: fadeIn 1s ease-out forwards;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}